header.gh
	.gh-logo
		a(href='/index.html'): img.gh-logo__image(src='/img/logo.svg' alt='Plumbing Flow')

	.gh-hotline
		article.gh-hotline__wrapper
			h4.gh-hotline__header Service Hotline
			
			meta(name='format-detection', content='telephone=yes')
			h4.gh-hotline__phone #{phoneNumber}
			//- a(onclick=`goog_report_conversion ('tel:${phoneNumberDashed}')` href=`${siteName}`)

header.fh
	a(href='/index.html'): img.fh-logo(src='/img/mini-logo.svg')
		
	
	meta(name='format-detection', content='telephone=yes')
	.fh-call #{phoneNumber}
		//- google report conversion is interfering with the iPhone phone number format detection, investigate it, we can't use the conversion reporter until we find a solution that works
		//- a(href=`${siteName}` onclick=`goog_report_conversion ('tel:${phoneNumberDashed}')`)
	